@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;

        --resizer-handle: hsl(0, 0%, 20%);
        --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
        --rsbs-bg: #fff;
        --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
        --rsbs-max-w: auto;
        --rsbs-ml: env(safe-area-inset-left);
        --rsbs-mr: env(safe-area-inset-right);
        --rsbs-overlay-rounded: 100px;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;

        --resizer-handle: #fff;
        --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
        --rsbs-bg: #131313;
        --rsbs-handle-bg: #fff;
        --rsbs-max-w: auto;
        --rsbs-ml: env(safe-area-inset-left);
        --rsbs-mr: env(safe-area-inset-right);
        --rsbs-overlay-rounded: 100px;
    }

}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@media (max-width: 640px) {
    .container {
        @apply px-4;
    }
}


.react-grid-item.react-grid-placeholder {
    background-color: white !important;
}

.droppable-element:active {
    cursor: grabbing;
}

@keyframes moveLeftToOrigin {
    0% {
        transform: translateX(-100px);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveRightToOrigin {
    0% {
        transform: translateX(100px);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes renderDelay {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.react-resizable-handle::after {
    background: var(--resizer-handle);

    display:block;
    border-radius: 5px;
    width: 20px !important;
    height: 20px !important;
}